<div class="card-body msg_card_body">
  <div class="d-flex justify-content-start mb-4">
    <div class="img_cont_msg">
      <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">
    </div>
    <div class="msg_cotainer">
      Hi, welcome to our group messenger!
    </div>
  </div>
  <div class="d-flex justify-content-end mb-4" *ngFor="let message of messages">
    <div class="msg_cotainer_send">
      {{ message.message }}
    </div>
    <div class="img_cont_msg">
      <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">
    </div>
  </div>
</div>
<div class="card-footer">
  <form #form="ngForm" (ngSubmit)="sendMessage(form.value)">
    <div class="input-group">
      <div class="input-group-append">
        <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
      </div>
      <textarea ngModel name="message" class="form-control type_msg"
                placeholder="Type your message..."></textarea>
      <div class="input-group-append">
        <button class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></button>
      </div>
    </div>
  </form>
</div>
