<div id="container">
  <h2>Join to our chat</h2>
  <p>Set your nick name in group message</p>
  <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
    <div class="form-group">
      <input ngModel type="text" placeholder="Type your nickname" required name="name">
    </div>
    <div class="form-group">
      <input ngModel type="password" placeholder="Type your password" name="psw">
    </div>
    <span><a [routerLink]="['/register']">Not has any account?</a></span><br>
    <button type="submit">Join us</button>
  </form>
</div>
